@addTagHelper *, SimplCommerce.Infrastructure
@model SimplCommerce.Module.Payments.Areas.Payments.ViewModels.CheckoutPaymentForm

@{
    ViewBag.Title = "Payment Information";
}

<div class="row">
    <div class="col-md-6">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
        }
        <div id="paymentError" class="alert alert-danger d-none" role="alert"></div>
        
        <div class="col">
            <h3>@Localizer["Choose a payment method"]</h3>
            @foreach (var paymentProvider in Model.PaymentProviders)
            {
                @if (!string.IsNullOrWhiteSpace(paymentProvider.LandingViewComponentName))
                {
                    @await Component.InvokeAsync(paymentProvider.LandingViewComponentName)
                }
            }
            <div class="text-right col-sm-12 col-md-12">
                <form asp-area="Order" asp-controller="Checkout" asp-action="Cancel" method="post" id="cancelOrderForm" class="">
                    <button type="submit" class="btn btn-secondary active">@Localizer["Cancel Order"]</button>
                </form>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync("OrderSummary")
    </div>
</div>
