@model string

@{
    ViewBag.Title = "Order Failure";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
}

<div class="row">
    <div class="col-md-3">
        <partial name="_AccountMenu" />
    </div>
    <div class="col-md-9">
        <h2>@Localizer["Order Failure"]</h2>
        <hr />
        <p class="stext-301">
            Error in processing payment.
        </p>
        <p class="p-t-15">
            We are sorry that we could not complete your payment. If the amount has been detected, the same will be reconciled against your order. 
        </p>
        <p class="p-t-20">
            <a href="~/user/orders/@Model" role="button" class="btn btn-light">View order details</a>
            <a href="~/" role="button" class="btn btn-primary">Continue Shopping</a>
        </p>
    </div>
</div>
