@model SimplCommerce.Module.PaymentCashfree.Areas.PaymentCashfree.ViewModels.CashfreeCheckoutForm

<label>Cashfree</label>
<form asp-area="PaymentCashfree" asp-controller="Cashfree" asp-action="Charge" method="POST">
    <script src="//checkout.Cashfree.com/v2/checkout.js"
            class="Cashfree-button"
            data-key="@Model.PublicKey"
            data-locale="auto"
            data-currency="@Model.ISOCurrencyCode"
            data-description="Payment with Cashfree"
            data-amount="@Model.Amount">
    </script>
</form>
