@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<environment include="Production">
    <script src="https://www.google.com/recaptcha/api.js?render=6LeTTZcUAAAAAIgPVBKHoKZsQyQeHKKNHxdTePak"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeTTZcUAAAAAIgPVBKHoKZsQyQeHKKNHxdTePak', { action: 'forgotpassword' });
        });
    </script>
</environment>

<h2>@ViewData["Title"]</h2>
<hr />
<div class="col-md-8">
    <form asp-area="Core" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <p>
            To reset your password, please enter your registered Email address.<br />
            We will send the password reset instructions to the email address for this account.<br /><br />
            If you don't know your registered email address or it is no longer valid, please Contact Us for further assistance.<br />
        </p>
        <br />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Email" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                <a href="~/login" role="button" class="btn btn-light">@Localizer["Return to Log in"]</a>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
