@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"].</h2>
<hr />
<div class="col-md-8">
    <p>
        We have sent the password reset instructions to the email address for this account.
    </p>
    <br /><br />
    <div class="offset-md-2 col-md-10">
        <a href="~/login" role="button" class="btn btn-primary">@Localizer["Return to Log in"]</a>
    </div>
</div>
